.headerButton {
  color: #fff;
  padding: 12px 24px 12px 24px;
}
.headerButton.active {
  color: red;
  text-decoration: underline;
}

.headerButton:hover {
  color: red;
  text-decoration: underline;
}

.activelink {
  font-weight: 'bold';
  color: 'red';
  text-decoration: none;
}
